<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<div class="title is-5">Create a new Event</div>
					<p><%= render 'form', event: @event %></p>
			</div>
		</div>
	</div>
</div>
